body{
/*position: relative;
width: 1600px;
height: 1200px;


background: linear-gradient(180deg, #E6E6E6 0%, rgba(240, 240, 240, 0) 100%);
*/
position: absolute;
width: 1476.59px;
height: 903.5px;
left: 61.7px;
top: 148.25px;

background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 59px;
  
  /*background-color: rgb(239, 243, 243);
  position: absolute;
width: 43.41px;
height: 28.39px;
left: 104.99px;
top: 208.65px;
*/
}


.logo{
  position: absolute;
width: 43.41px;
height: 28.39px;
left: 110.99px;
top: 208.65px;
}


.logo2{
position: absolute;
width: 102px;
height: 49px;
left: 190.39px;
top: 199.79px;

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #0F4264;
}

.box{
  position: absolute;
  width: 165px;
  height: 39px;
  left: 102.25px;
  top: 316.25px;
  background: #F0F7FF;
  border-radius: 4px;
}
.into{
position: absolute;
width: 165px;
height: 20px;
left: 155.61px;
top: 311.75px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #197BBD;
}
.into2{
  
position: absolute;
width: 126.92px;
height: 30px;
left: 155.61px;
top: 366.25px;
font-size: 14px;
font-family: Lato;
font-style: normal;
color: #C7C7C7;
font-weight: bold;
line-height: 17px;

}
.into3{
  
position: absolute;
width: 36px;
height: 17px;
left: 159.61px;
top: 417.75px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #C7C7C7;

}
.into4{
position: absolute;
width: 51px;
height: 17px;
left: 159.61px;
top: 462.75px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #C7C7C7;

}
.into5{
  
position: absolute;
width: 35px;
height: 17px;
left: 159.61px;
top: 507.75px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;


color: #C7C7C7;
}
.into6{
position: absolute;
width: 51px;
height: 17px;
left: 159.61px;
top: 552.75px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #C7C7C7;
}
.icon{
  
position: absolute;
width: 17.08px;
height: 25.08px;
left: 110.46px;
top: 325.46px;

}
.icon2{
position: absolute;
width: 17.14px;
height: 25px;
left: 110.46px;
top: 378px;
color: #C7C7C7;
}
.icon3{
position: absolute;
width: 30px;
height: 30px;
left: 110.46px;
top: 430.25px;
color: #C7C7C7;
}

.icon4{
position: absolute;
width: 30px;
height: 30px;
left: 110.46px;
top: 475.25px;
color: #C7C7C7;
}
.icon5{
position: absolute;
width: 30px;
height: 30px;
left: 110.46px;
top: 510.25px;
color: #C7C7C7;
}
.vl{
position: absolute;
width: 1px;
height: 780.5px;
left: 313.24px;
top: 148.25px;

background: #F8F8F8;
}
.vl2{

position: absolute;
width: 1px;
height: 780.5px;
left: 312.24px;
top: 148.25px;

background: #EBEBEB;

}

.nav{
  border-radius: 25px sollid green;
position: absolute;
width: 600.65px;
height: 54.85px;
left: 380.25px;
top: 182.19px;
font-family: Comic Neue;
font-style: normal;
font-weight: bold;
font-size: 43.3726px;
line-height: 50px;


}
.nav input{
  width: 500px;
  height: 30px;
  border-radius: 25px ;
  background-color: rgb(247, 207, 126);
}
::placeholder {
  color: rgb(43, 40, 40);
}
.descp{
  position: absolute;
width: 480px;
height: 18px;
left: 193.25px;
top: 110.47px;

font-family: Comic Neue;
font-style: normal;
font-weight: normal;
font-size: 16.0564px;
line-height: 15px;

color: #AEAEAE;
}

.noti{
position: absolute;
width: 25px;
height: 18px;
left: 1200px;
top: 195px;

}
.noti2 {
  
position: absolute;
width: 25px;
height: 18px;
left: 1250px;
top: 195px;

}
.user{
position: absolute;
width: 35px;
height: 35px;
left: 1300.22px;
top: 195px;

}
button{
      background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


#BOX {
    margin: auto;
    width: 500px;
    height: 500px; 
    border: 3px solid;
   
  }
#B1{
    width: 125px;
    height: 125px;
    margin: 0%;
    padding: 10px;
    text-align: center;
    background: red;
    font-weight: bold;
  }

#B2{
    width: 125px;
    height: 125px;
    margin: 205px 610px 110px 350px;
    padding: 12.5px;
    font-weight: bold;
    text-align: center;
    background: yellow;
    }
#B1:hover + #B2{background-color: red;}    
#B2:hover{display: none;}












.keyboard {
    position: absolute;
    height: 100%;   
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 5px 0;
    background: #004134;

}
/*Row1*/
.row1{
  display: flex;
  text-align: center;

}
.b1 {
    position: relative;
    height: 45px;
    width: 10%;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
}
.b1:active{
  filter: brightness(0.85);
}
/*row-2*/
.row2{
  display: flex;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
}
.b2{
  position: relative;
  height: 45px;
  width: 8%;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  padding-right: 10px;
  -webkit-tap-highlight-color: transparent;
  max-width: 90px;
  min-width: 10px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  left: 3%;
}
.b2:active{
  filter: brightness(0.85);
}
/*Row 3*/
.row3{
  display: flex;
  text-align: center;
}
.b3{
  position: relative;
  height: 45px;
  width: 8%;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
}
.b3:active{
  filter: brightness(0.85);
}
.back{
    height: 45px;
    width: 16%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.back:active{
  filter: brightness(0.85);
}
.enter{
    height: 45px;
    width: 20%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;  
}
i.fa-level-down-alt{
  transform: rotate(90deg);
}
.enter:active{
  filter: brightness(0.85);
}
.caps{
     height: 45px;
    width: 16%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;  
}
.caps:active{
  filter: brightness(0.85);
}
.check{
     height: 45px;
    width: 14%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background:rgba(255, 255, 255, 0.2);
    font-size: 1.05rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
    opacity: 0.5; 
}
i.fa-check-circle{
  color: #ffffff;
}
.check:active {
    filter: brightness(0.85);
}

/*Row 4*/
.row4{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.b4{
    height: 45px;
    width: 10%;
    max-width: 79px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.b4:active{
  filter: brightness(0.85);
}
.keys{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;

}
/*Row 5*/
.row5{
  display: flex;
  padding-left: 22vw;
  padding-right: 20vw;

}
.b5:active {
    filter: brightness(0.85);
}
.b5{
    height: 45px;
    width: 69%;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
    position: relative;
  
}
/*Rows flex handling*/
.row1 {
  flex: 50%;
}

.row2 {
  flex: 50%;
}
.row3 {
  flex: 50%;
}

.row4 {
  flex: 50%;
}
.row5{
  flex: 50%;
}
@media (max-width: 800px) {
  .row1,.row2,.row3,.row4,.row5 {
    flex: 100%;
  }

}

.b5 space{
  color: white;
}