/*@media screen and (min-width: 768px) {
   .col1{
    background-color: rgb(171, 171, 236);
    border:1px solid red;
     text-align:center;
  }
  .col2{
    height: 150px;
    width: 10%;
    border:2px solid rgb(31, 27, 27); 
    background-color:pink;

  }
   .col3{
    height: 150px;
    width: 80%;
    border:2px solid rgb(31, 27, 27); background-color:grey;
    text-align:center;
   }
.col4{
    height: 150px;
     width: 10%;
    border:2px solid rgb(17, 16, 16); background-color:pink;
  }
.col5{
  background-color: rgb(161, 161, 240);
  border: 1px solid black;
  text-align:center;
}
  .row2{
    display: flex;
  }
}

@media screen and (max-width: 786px) {
    .col1{
    background-color: rgb(171, 171, 236);
    border:1px solid red;
     text-align:center;
  }
    .col2{
    border:2px solid rgb(31, 27, 27); 
    background-color:pink;

  }
     .col3{
    height: 70px;
    border:2px solid rgb(31, 27, 27); background-color:grey;
    text-align:center;
   }
   .col4{
    border:2px solid rgb(17, 16, 16); background-color:pink;
  }
  .col5{
  background-color: rgb(161, 161, 240);
  border: 1px solid black;
  text-align:center;
}
}
*/
